@model IEnumerable<WebApp.Models.Serie>

@{
    ViewData["Title"] = "Listar";
}

<h2>Listar</h2>

<p>
    <a asp-action="Cadastrar">Nova Série</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.UrlCapa" alt="@item.Titulo" class="img-thumbnail capa-extra-pequena" />                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }) |
                    @Html.ActionLink("Episódios","Listar", "Episodio", new { serieId = item.Id }) |
                    @Html.ActionLink("Excluir", "Excluir", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
