@model WebApp.Models.Episodio

@{
    ViewData["Title"] = "Excluir";
}

<h2>Excluir</h2>

<h3>Deseja realmente excluir este episódio?</h3>
<div>
    <h4>Episodio</h4>
    <hr />
    <dl class="dl-horizontal">        
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssistidoEm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssistidoEm)
        </dd>
    </dl>
    
    <form asp-action="Excluir">
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        @Html.ActionLink("Voltar para listagem", "Listar", new { serieId = Model.SerieId })
    </form>
</div>
