@model WebApp.ViewModels.ListarEpisodioViewModel

@{
    ViewData["Title"] = "Listar";
}

<h2>Episódios da série @Model.SerieTitulo</h2>

<p>    
    @Html.ActionLink("Novo Episódio", "Cadastrar", new { serieId = Model.SerieId })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Assistido Em
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Episodios)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssistidoEm)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }) |
                    @Html.ActionLink("Excluir", "Excluir", new {  id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
