@model WebApp.Models.Filme

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Filme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssistidoEm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssistidoEm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UrlCapa)
        </dt>
        <dd>
            <img src="@Model.UrlCapa" alt="@Model.Titulo" class="img-rounded capa-pequena" />
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Id }) |
    <a asp-action="Listar">Voltar para listagem</a>
</div>
